body{

  md-icon.my-icon{
    font-size:20px;
    color: #00A000;
  }
  .photo{
    width: 8%;
    position: relative;
    top: -5px;
    left: 0;
  }
  .my-photo{
    width: 33%;
    height: 45%;
  }
}